@mixin header() {
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &__brand {
            &__image {
                height: 80px;
                margin-block: 1ch;
                border-radius: var(--border-radius);
            }
        }

        &__content {
            text-align: end;
            font-family: var(--headings-font);

            &__title {
                font-size: var(--size5);
            }

            &__description {
                font-size: var(--size3);
            }
        }
    }
}
