@use "footer" as *;
@use "header" as *;
@use "main" as *;
@use "nav" as *;

@mixin layout() { @layer layout {
    $sm: 600px;
    $md: 800px;
    $lg: 1000px;
    $xl: 1200px;

    :root {
        @media (min-width: $md) {
            --scale: 1.2;
        }
    }

    @media screen {
        .header, .nav, .page, .section, .index, .footer {
            width: 95%;
            margin-inline: auto;
            @media (min-width: $sm) { width: 400px; }
            @media (min-width: $md) { width: 600px; }
            @media (min-width: $lg) { width: 800px; }
            @media (min-width: $xl) { width: 1000px; }
        }
    }


    @include header();
    @include nav();
    @include main($md);
    @include footer();
}}
