@mixin nav() {
    .nav {
        font-size: var(--size2);

        display: flex;
        flex-wrap: wrap;

        justify-content: space-between;
        align-items: baseline;

        gap: var(--gap);
    }
}
