@mixin -line() {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;

    margin-block: var(--margin-block);
    height: 100px;
}

@mixin schemes() {
    .hue {
        margin-block: var(--margin-block);

        height: 150px;
        width: 100%;

        cursor: pointer;

        background-image: linear-gradient(
            to right,
            hsl(0, 100%, 50%),
            hsl(1, 100%, 50%),
            hsl(2, 100%, 50%),
            hsl(3, 100%, 50%),
            hsl(4, 100%, 50%),
            hsl(5, 100%, 50%),
            hsl(6, 100%, 50%),
            hsl(7, 100%, 50%),
            hsl(8, 100%, 50%),
            hsl(9, 100%, 50%),
            hsl(10, 100%, 50%),
            hsl(11, 100%, 50%),
            hsl(12, 100%, 50%),
            hsl(13, 100%, 50%),
            hsl(14, 100%, 50%),
            hsl(15, 100%, 50%),
            hsl(16, 100%, 50%),
            hsl(17, 100%, 50%),
            hsl(18, 100%, 50%),
            hsl(19, 100%, 50%),
            hsl(20, 100%, 50%),
            hsl(21, 100%, 50%),
            hsl(22, 100%, 50%),
            hsl(23, 100%, 50%),
            hsl(24, 100%, 50%),
            hsl(25, 100%, 50%),
            hsl(26, 100%, 50%),
            hsl(27, 100%, 50%),
            hsl(28, 100%, 50%),
            hsl(29, 100%, 50%),
            hsl(30, 100%, 50%),
            hsl(31, 100%, 50%),
            hsl(32, 100%, 50%),
            hsl(33, 100%, 50%),
            hsl(34, 100%, 50%),
            hsl(35, 100%, 50%),
            hsl(36, 100%, 50%),
            hsl(37, 100%, 50%),
            hsl(38, 100%, 50%),
            hsl(39, 100%, 50%),
            hsl(40, 100%, 50%),
            hsl(41, 100%, 50%),
            hsl(42, 100%, 50%),
            hsl(43, 100%, 50%),
            hsl(44, 100%, 50%),
            hsl(45, 100%, 50%),
            hsl(46, 100%, 50%),
            hsl(47, 100%, 50%),
            hsl(48, 100%, 50%),
            hsl(49, 100%, 50%),
            hsl(50, 100%, 50%),
            hsl(51, 100%, 50%),
            hsl(52, 100%, 50%),
            hsl(53, 100%, 50%),
            hsl(54, 100%, 50%),
            hsl(55, 100%, 50%),
            hsl(56, 100%, 50%),
            hsl(57, 100%, 50%),
            hsl(58, 100%, 50%),
            hsl(59, 100%, 50%),
            hsl(60, 100%, 50%),
            hsl(61, 100%, 50%),
            hsl(62, 100%, 50%),
            hsl(63, 100%, 50%),
            hsl(64, 100%, 50%),
            hsl(65, 100%, 50%),
            hsl(66, 100%, 50%),
            hsl(67, 100%, 50%),
            hsl(68, 100%, 50%),
            hsl(69, 100%, 50%),
            hsl(70, 100%, 50%),
            hsl(71, 100%, 50%),
            hsl(72, 100%, 50%),
            hsl(73, 100%, 50%),
            hsl(74, 100%, 50%),
            hsl(75, 100%, 50%),
            hsl(76, 100%, 50%),
            hsl(77, 100%, 50%),
            hsl(78, 100%, 50%),
            hsl(79, 100%, 50%),
            hsl(80, 100%, 50%),
            hsl(81, 100%, 50%),
            hsl(82, 100%, 50%),
            hsl(83, 100%, 50%),
            hsl(84, 100%, 50%),
            hsl(85, 100%, 50%),
            hsl(86, 100%, 50%),
            hsl(87, 100%, 50%),
            hsl(88, 100%, 50%),
            hsl(89, 100%, 50%),
            hsl(90, 100%, 50%),
            hsl(91, 100%, 50%),
            hsl(92, 100%, 50%),
            hsl(93, 100%, 50%),
            hsl(94, 100%, 50%),
            hsl(95, 100%, 50%),
            hsl(96, 100%, 50%),
            hsl(97, 100%, 50%),
            hsl(98, 100%, 50%),
            hsl(99, 100%, 50%),
            hsl(100, 100%, 50%),
            hsl(101, 100%, 50%),
            hsl(102, 100%, 50%),
            hsl(103, 100%, 50%),
            hsl(104, 100%, 50%),
            hsl(105, 100%, 50%),
            hsl(106, 100%, 50%),
            hsl(107, 100%, 50%),
            hsl(108, 100%, 50%),
            hsl(109, 100%, 50%),
            hsl(110, 100%, 50%),
            hsl(111, 100%, 50%),
            hsl(112, 100%, 50%),
            hsl(113, 100%, 50%),
            hsl(114, 100%, 50%),
            hsl(115, 100%, 50%),
            hsl(116, 100%, 50%),
            hsl(117, 100%, 50%),
            hsl(118, 100%, 50%),
            hsl(119, 100%, 50%),
            hsl(120, 100%, 50%),
            hsl(121, 100%, 50%),
            hsl(122, 100%, 50%),
            hsl(123, 100%, 50%),
            hsl(124, 100%, 50%),
            hsl(125, 100%, 50%),
            hsl(126, 100%, 50%),
            hsl(127, 100%, 50%),
            hsl(128, 100%, 50%),
            hsl(129, 100%, 50%),
            hsl(130, 100%, 50%),
            hsl(131, 100%, 50%),
            hsl(132, 100%, 50%),
            hsl(133, 100%, 50%),
            hsl(134, 100%, 50%),
            hsl(135, 100%, 50%),
            hsl(136, 100%, 50%),
            hsl(137, 100%, 50%),
            hsl(138, 100%, 50%),
            hsl(139, 100%, 50%),
            hsl(140, 100%, 50%),
            hsl(141, 100%, 50%),
            hsl(142, 100%, 50%),
            hsl(143, 100%, 50%),
            hsl(144, 100%, 50%),
            hsl(145, 100%, 50%),
            hsl(146, 100%, 50%),
            hsl(147, 100%, 50%),
            hsl(148, 100%, 50%),
            hsl(149, 100%, 50%),
            hsl(150, 100%, 50%),
            hsl(151, 100%, 50%),
            hsl(152, 100%, 50%),
            hsl(153, 100%, 50%),
            hsl(154, 100%, 50%),
            hsl(155, 100%, 50%),
            hsl(156, 100%, 50%),
            hsl(157, 100%, 50%),
            hsl(158, 100%, 50%),
            hsl(159, 100%, 50%),
            hsl(160, 100%, 50%),
            hsl(161, 100%, 50%),
            hsl(162, 100%, 50%),
            hsl(163, 100%, 50%),
            hsl(164, 100%, 50%),
            hsl(165, 100%, 50%),
            hsl(166, 100%, 50%),
            hsl(167, 100%, 50%),
            hsl(168, 100%, 50%),
            hsl(169, 100%, 50%),
            hsl(170, 100%, 50%),
            hsl(171, 100%, 50%),
            hsl(172, 100%, 50%),
            hsl(173, 100%, 50%),
            hsl(174, 100%, 50%),
            hsl(175, 100%, 50%),
            hsl(176, 100%, 50%),
            hsl(177, 100%, 50%),
            hsl(178, 100%, 50%),
            hsl(179, 100%, 50%),
            hsl(180, 100%, 50%),
            hsl(181, 100%, 50%),
            hsl(182, 100%, 50%),
            hsl(183, 100%, 50%),
            hsl(184, 100%, 50%),
            hsl(185, 100%, 50%),
            hsl(186, 100%, 50%),
            hsl(187, 100%, 50%),
            hsl(188, 100%, 50%),
            hsl(189, 100%, 50%),
            hsl(190, 100%, 50%),
            hsl(191, 100%, 50%),
            hsl(192, 100%, 50%),
            hsl(193, 100%, 50%),
            hsl(194, 100%, 50%),
            hsl(195, 100%, 50%),
            hsl(196, 100%, 50%),
            hsl(197, 100%, 50%),
            hsl(198, 100%, 50%),
            hsl(199, 100%, 50%),
            hsl(200, 100%, 50%),
            hsl(201, 100%, 50%),
            hsl(202, 100%, 50%),
            hsl(203, 100%, 50%),
            hsl(204, 100%, 50%),
            hsl(205, 100%, 50%),
            hsl(206, 100%, 50%),
            hsl(207, 100%, 50%),
            hsl(208, 100%, 50%),
            hsl(209, 100%, 50%),
            hsl(210, 100%, 50%),
            hsl(211, 100%, 50%),
            hsl(212, 100%, 50%),
            hsl(213, 100%, 50%),
            hsl(214, 100%, 50%),
            hsl(215, 100%, 50%),
            hsl(216, 100%, 50%),
            hsl(217, 100%, 50%),
            hsl(218, 100%, 50%),
            hsl(219, 100%, 50%),
            hsl(220, 100%, 50%),
            hsl(221, 100%, 50%),
            hsl(222, 100%, 50%),
            hsl(223, 100%, 50%),
            hsl(224, 100%, 50%),
            hsl(225, 100%, 50%),
            hsl(226, 100%, 50%),
            hsl(227, 100%, 50%),
            hsl(228, 100%, 50%),
            hsl(229, 100%, 50%),
            hsl(230, 100%, 50%),
            hsl(231, 100%, 50%),
            hsl(232, 100%, 50%),
            hsl(233, 100%, 50%),
            hsl(234, 100%, 50%),
            hsl(235, 100%, 50%),
            hsl(236, 100%, 50%),
            hsl(237, 100%, 50%),
            hsl(238, 100%, 50%),
            hsl(239, 100%, 50%),
            hsl(240, 100%, 50%),
            hsl(241, 100%, 50%),
            hsl(242, 100%, 50%),
            hsl(243, 100%, 50%),
            hsl(244, 100%, 50%),
            hsl(245, 100%, 50%),
            hsl(246, 100%, 50%),
            hsl(247, 100%, 50%),
            hsl(248, 100%, 50%),
            hsl(249, 100%, 50%),
            hsl(250, 100%, 50%),
            hsl(251, 100%, 50%),
            hsl(252, 100%, 50%),
            hsl(253, 100%, 50%),
            hsl(254, 100%, 50%),
            hsl(255, 100%, 50%),
            hsl(256, 100%, 50%),
            hsl(257, 100%, 50%),
            hsl(258, 100%, 50%),
            hsl(259, 100%, 50%),
            hsl(260, 100%, 50%),
            hsl(261, 100%, 50%),
            hsl(262, 100%, 50%),
            hsl(263, 100%, 50%),
            hsl(264, 100%, 50%),
            hsl(265, 100%, 50%),
            hsl(266, 100%, 50%),
            hsl(267, 100%, 50%),
            hsl(268, 100%, 50%),
            hsl(269, 100%, 50%),
            hsl(270, 100%, 50%),
            hsl(271, 100%, 50%),
            hsl(272, 100%, 50%),
            hsl(273, 100%, 50%),
            hsl(274, 100%, 50%),
            hsl(275, 100%, 50%),
            hsl(276, 100%, 50%),
            hsl(277, 100%, 50%),
            hsl(278, 100%, 50%),
            hsl(279, 100%, 50%),
            hsl(280, 100%, 50%),
            hsl(281, 100%, 50%),
            hsl(282, 100%, 50%),
            hsl(283, 100%, 50%),
            hsl(284, 100%, 50%),
            hsl(285, 100%, 50%),
            hsl(286, 100%, 50%),
            hsl(287, 100%, 50%),
            hsl(288, 100%, 50%),
            hsl(289, 100%, 50%),
            hsl(290, 100%, 50%),
            hsl(291, 100%, 50%),
            hsl(292, 100%, 50%),
            hsl(293, 100%, 50%),
            hsl(294, 100%, 50%),
            hsl(295, 100%, 50%),
            hsl(296, 100%, 50%),
            hsl(297, 100%, 50%),
            hsl(298, 100%, 50%),
            hsl(299, 100%, 50%),
            hsl(300, 100%, 50%),
            hsl(301, 100%, 50%),
            hsl(302, 100%, 50%),
            hsl(303, 100%, 50%),
            hsl(304, 100%, 50%),
            hsl(305, 100%, 50%),
            hsl(306, 100%, 50%),
            hsl(307, 100%, 50%),
            hsl(308, 100%, 50%),
            hsl(309, 100%, 50%),
            hsl(310, 100%, 50%),
            hsl(311, 100%, 50%),
            hsl(312, 100%, 50%),
            hsl(313, 100%, 50%),
            hsl(314, 100%, 50%),
            hsl(315, 100%, 50%),
            hsl(316, 100%, 50%),
            hsl(317, 100%, 50%),
            hsl(318, 100%, 50%),
            hsl(319, 100%, 50%),
            hsl(320, 100%, 50%),
            hsl(321, 100%, 50%),
            hsl(322, 100%, 50%),
            hsl(323, 100%, 50%),
            hsl(324, 100%, 50%),
            hsl(325, 100%, 50%),
            hsl(326, 100%, 50%),
            hsl(327, 100%, 50%),
            hsl(328, 100%, 50%),
            hsl(329, 100%, 50%),
            hsl(330, 100%, 50%),
            hsl(331, 100%, 50%),
            hsl(332, 100%, 50%),
            hsl(333, 100%, 50%),
            hsl(334, 100%, 50%),
            hsl(335, 100%, 50%),
            hsl(336, 100%, 50%),
            hsl(337, 100%, 50%),
            hsl(338, 100%, 50%),
            hsl(339, 100%, 50%),
            hsl(340, 100%, 50%),
            hsl(341, 100%, 50%),
            hsl(342, 100%, 50%),
            hsl(343, 100%, 50%),
            hsl(344, 100%, 50%),
            hsl(345, 100%, 50%),
            hsl(346, 100%, 50%),
            hsl(347, 100%, 50%),
            hsl(348, 100%, 50%),
            hsl(349, 100%, 50%),
            hsl(350, 100%, 50%),
            hsl(351, 100%, 50%),
            hsl(352, 100%, 50%),
            hsl(353, 100%, 50%),
            hsl(354, 100%, 50%),
            hsl(355, 100%, 50%),
            hsl(356, 100%, 50%),
            hsl(357, 100%, 50%),
            hsl(358, 100%, 50%),
            hsl(359, 100%, 50%),
            );
    }

    .saturation {
        margin-block: var(--margin-block);

        height: 100px;
        width: 100%;

        cursor: pointer;

        display: flex;
        justify-content: center;
        align-items: center;
        font-size: xx-large;
        font-weight: bolder;

        @for $hue from 0 to 360 {
            &--#{$hue} { --hue: #{$hue}; }
        }

        background-image: linear-gradient(
            to right,
            hsl(var(--hue), 0%, var(--lig)),
            hsl(var(--hue), 1%, var(--lig)),
            hsl(var(--hue), 2%, var(--lig)),
            hsl(var(--hue), 3%, var(--lig)),
            hsl(var(--hue), 4%, var(--lig)),
            hsl(var(--hue), 5%, var(--lig)),
            hsl(var(--hue), 6%, var(--lig)),
            hsl(var(--hue), 7%, var(--lig)),
            hsl(var(--hue), 8%, var(--lig)),
            hsl(var(--hue), 9%, var(--lig)),
            hsl(var(--hue), 10%, var(--lig)),
            hsl(var(--hue), 11%, var(--lig)),
            hsl(var(--hue), 12%, var(--lig)),
            hsl(var(--hue), 13%, var(--lig)),
            hsl(var(--hue), 14%, var(--lig)),
            hsl(var(--hue), 15%, var(--lig)),
            hsl(var(--hue), 16%, var(--lig)),
            hsl(var(--hue), 17%, var(--lig)),
            hsl(var(--hue), 18%, var(--lig)),
            hsl(var(--hue), 19%, var(--lig)),
            hsl(var(--hue), 20%, var(--lig)),
            hsl(var(--hue), 21%, var(--lig)),
            hsl(var(--hue), 22%, var(--lig)),
            hsl(var(--hue), 23%, var(--lig)),
            hsl(var(--hue), 24%, var(--lig)),
            hsl(var(--hue), 25%, var(--lig)),
            hsl(var(--hue), 26%, var(--lig)),
            hsl(var(--hue), 27%, var(--lig)),
            hsl(var(--hue), 28%, var(--lig)),
            hsl(var(--hue), 29%, var(--lig)),
            hsl(var(--hue), 30%, var(--lig)),
            hsl(var(--hue), 31%, var(--lig)),
            hsl(var(--hue), 32%, var(--lig)),
            hsl(var(--hue), 33%, var(--lig)),
            hsl(var(--hue), 34%, var(--lig)),
            hsl(var(--hue), 35%, var(--lig)),
            hsl(var(--hue), 36%, var(--lig)),
            hsl(var(--hue), 37%, var(--lig)),
            hsl(var(--hue), 38%, var(--lig)),
            hsl(var(--hue), 39%, var(--lig)),
            hsl(var(--hue), 40%, var(--lig)),
            hsl(var(--hue), 41%, var(--lig)),
            hsl(var(--hue), 42%, var(--lig)),
            hsl(var(--hue), 43%, var(--lig)),
            hsl(var(--hue), 44%, var(--lig)),
            hsl(var(--hue), 45%, var(--lig)),
            hsl(var(--hue), 46%, var(--lig)),
            hsl(var(--hue), 47%, var(--lig)),
            hsl(var(--hue), 48%, var(--lig)),
            hsl(var(--hue), 49%, var(--lig)),
            hsl(var(--hue), 50%, var(--lig)),
            hsl(var(--hue), 51%, var(--lig)),
            hsl(var(--hue), 52%, var(--lig)),
            hsl(var(--hue), 53%, var(--lig)),
            hsl(var(--hue), 54%, var(--lig)),
            hsl(var(--hue), 55%, var(--lig)),
            hsl(var(--hue), 56%, var(--lig)),
            hsl(var(--hue), 57%, var(--lig)),
            hsl(var(--hue), 58%, var(--lig)),
            hsl(var(--hue), 59%, var(--lig)),
            hsl(var(--hue), 60%, var(--lig)),
            hsl(var(--hue), 61%, var(--lig)),
            hsl(var(--hue), 62%, var(--lig)),
            hsl(var(--hue), 63%, var(--lig)),
            hsl(var(--hue), 64%, var(--lig)),
            hsl(var(--hue), 65%, var(--lig)),
            hsl(var(--hue), 66%, var(--lig)),
            hsl(var(--hue), 67%, var(--lig)),
            hsl(var(--hue), 68%, var(--lig)),
            hsl(var(--hue), 69%, var(--lig)),
            hsl(var(--hue), 70%, var(--lig)),
            hsl(var(--hue), 71%, var(--lig)),
            hsl(var(--hue), 72%, var(--lig)),
            hsl(var(--hue), 73%, var(--lig)),
            hsl(var(--hue), 74%, var(--lig)),
            hsl(var(--hue), 75%, var(--lig)),
            hsl(var(--hue), 76%, var(--lig)),
            hsl(var(--hue), 77%, var(--lig)),
            hsl(var(--hue), 78%, var(--lig)),
            hsl(var(--hue), 79%, var(--lig)),
            hsl(var(--hue), 80%, var(--lig)),
            hsl(var(--hue), 81%, var(--lig)),
            hsl(var(--hue), 82%, var(--lig)),
            hsl(var(--hue), 83%, var(--lig)),
            hsl(var(--hue), 84%, var(--lig)),
            hsl(var(--hue), 85%, var(--lig)),
            hsl(var(--hue), 86%, var(--lig)),
            hsl(var(--hue), 87%, var(--lig)),
            hsl(var(--hue), 88%, var(--lig)),
            hsl(var(--hue), 89%, var(--lig)),
            hsl(var(--hue), 90%, var(--lig)),
            hsl(var(--hue), 91%, var(--lig)),
            hsl(var(--hue), 92%, var(--lig)),
            hsl(var(--hue), 93%, var(--lig)),
            hsl(var(--hue), 94%, var(--lig)),
            hsl(var(--hue), 95%, var(--lig)),
            hsl(var(--hue), 96%, var(--lig)),
            hsl(var(--hue), 97%, var(--lig)),
            hsl(var(--hue), 98%, var(--lig)),
            hsl(var(--hue), 99%, var(--lig)),
            hsl(var(--hue), 100%, var(--lig)),
        )
    }

    .lightness {
        margin-block: var(--margin-block);

        height: 100px;
        width: 100%;

        cursor: pointer;

        display: flex;
        justify-content: center;
        align-items: center;
        font-size: xx-large;
        font-weight: bolder;

        @for $hue from 0 to 360 {
            &--#{$hue} { --hue: #{$hue}; }
        }

        background-image: linear-gradient(
            to right,
            hsl(var(--hue), var(--sat), 0%),
            hsl(var(--hue), var(--sat), 1%),
            hsl(var(--hue), var(--sat), 2%),
            hsl(var(--hue), var(--sat), 3%),
            hsl(var(--hue), var(--sat), 4%),
            hsl(var(--hue), var(--sat), 5%),
            hsl(var(--hue), var(--sat), 6%),
            hsl(var(--hue), var(--sat), 7%),
            hsl(var(--hue), var(--sat), 8%),
            hsl(var(--hue), var(--sat), 9%),
            hsl(var(--hue), var(--sat), 10%),
            hsl(var(--hue), var(--sat), 11%),
            hsl(var(--hue), var(--sat), 12%),
            hsl(var(--hue), var(--sat), 13%),
            hsl(var(--hue), var(--sat), 14%),
            hsl(var(--hue), var(--sat), 15%),
            hsl(var(--hue), var(--sat), 16%),
            hsl(var(--hue), var(--sat), 17%),
            hsl(var(--hue), var(--sat), 18%),
            hsl(var(--hue), var(--sat), 19%),
            hsl(var(--hue), var(--sat), 20%),
            hsl(var(--hue), var(--sat), 21%),
            hsl(var(--hue), var(--sat), 22%),
            hsl(var(--hue), var(--sat), 23%),
            hsl(var(--hue), var(--sat), 24%),
            hsl(var(--hue), var(--sat), 25%),
            hsl(var(--hue), var(--sat), 26%),
            hsl(var(--hue), var(--sat), 27%),
            hsl(var(--hue), var(--sat), 28%),
            hsl(var(--hue), var(--sat), 29%),
            hsl(var(--hue), var(--sat), 30%),
            hsl(var(--hue), var(--sat), 31%),
            hsl(var(--hue), var(--sat), 32%),
            hsl(var(--hue), var(--sat), 33%),
            hsl(var(--hue), var(--sat), 34%),
            hsl(var(--hue), var(--sat), 35%),
            hsl(var(--hue), var(--sat), 36%),
            hsl(var(--hue), var(--sat), 37%),
            hsl(var(--hue), var(--sat), 38%),
            hsl(var(--hue), var(--sat), 39%),
            hsl(var(--hue), var(--sat), 40%),
            hsl(var(--hue), var(--sat), 41%),
            hsl(var(--hue), var(--sat), 42%),
            hsl(var(--hue), var(--sat), 43%),
            hsl(var(--hue), var(--sat), 44%),
            hsl(var(--hue), var(--sat), 45%),
            hsl(var(--hue), var(--sat), 46%),
            hsl(var(--hue), var(--sat), 47%),
            hsl(var(--hue), var(--sat), 48%),
            hsl(var(--hue), var(--sat), 49%),
            hsl(var(--hue), var(--sat), 50%),
            hsl(var(--hue), var(--sat), 51%),
            hsl(var(--hue), var(--sat), 52%),
            hsl(var(--hue), var(--sat), 53%),
            hsl(var(--hue), var(--sat), 54%),
            hsl(var(--hue), var(--sat), 55%),
            hsl(var(--hue), var(--sat), 56%),
            hsl(var(--hue), var(--sat), 57%),
            hsl(var(--hue), var(--sat), 58%),
            hsl(var(--hue), var(--sat), 59%),
            hsl(var(--hue), var(--sat), 60%),
            hsl(var(--hue), var(--sat), 61%),
            hsl(var(--hue), var(--sat), 62%),
            hsl(var(--hue), var(--sat), 63%),
            hsl(var(--hue), var(--sat), 64%),
            hsl(var(--hue), var(--sat), 65%),
            hsl(var(--hue), var(--sat), 66%),
            hsl(var(--hue), var(--sat), 67%),
            hsl(var(--hue), var(--sat), 68%),
            hsl(var(--hue), var(--sat), 69%),
            hsl(var(--hue), var(--sat), 70%),
            hsl(var(--hue), var(--sat), 71%),
            hsl(var(--hue), var(--sat), 72%),
            hsl(var(--hue), var(--sat), 73%),
            hsl(var(--hue), var(--sat), 74%),
            hsl(var(--hue), var(--sat), 75%),
            hsl(var(--hue), var(--sat), 76%),
            hsl(var(--hue), var(--sat), 77%),
            hsl(var(--hue), var(--sat), 78%),
            hsl(var(--hue), var(--sat), 79%),
            hsl(var(--hue), var(--sat), 80%),
            hsl(var(--hue), var(--sat), 81%),
            hsl(var(--hue), var(--sat), 82%),
            hsl(var(--hue), var(--sat), 83%),
            hsl(var(--hue), var(--sat), 84%),
            hsl(var(--hue), var(--sat), 85%),
            hsl(var(--hue), var(--sat), 86%),
            hsl(var(--hue), var(--sat), 87%),
            hsl(var(--hue), var(--sat), 88%),
            hsl(var(--hue), var(--sat), 89%),
            hsl(var(--hue), var(--sat), 90%),
            hsl(var(--hue), var(--sat), 91%),
            hsl(var(--hue), var(--sat), 92%),
            hsl(var(--hue), var(--sat), 93%),
            hsl(var(--hue), var(--sat), 94%),
            hsl(var(--hue), var(--sat), 95%),
            hsl(var(--hue), var(--sat), 96%),
            hsl(var(--hue), var(--sat), 97%),
            hsl(var(--hue), var(--sat), 98%),
            hsl(var(--hue), var(--sat), 99%),
            hsl(var(--hue), var(--sat), 100%),
        )
    }

    .utils {
        @include -line();
        span {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: xx-large;
            font-weight: bolder;
        }
    }
}
