@mixin tools($md) {
    .pickers {
        display: flex;
        flex-direction: column;
        gap: var(--gap);

        &__input {
            display: grid;
            grid-auto-flow: row;
            grid-auto-rows: 1fr;
            place-items: center;

            @media (min-width: $md) {
                grid-auto-flow: column;
                grid-auto-columns: 1fr;
            }

            input[type="number"] {
                width: 5ch;
            }
        }

        &__output {
            height: 5ch;

            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .picker {
        &__luminance {
            height: 5ch;

            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}
