@mixin base() { @layer base {
    :root {
        --size0: calc(1.1rem + var(--zoom, 0) * 1rem);
        --size1: calc(var(--size0) * var(--scale, 1.1));
        --size2: calc(var(--size1) * var(--scale, 1.1));
        --size3: calc(var(--size2) * var(--scale, 1.1));
        --size4: calc(var(--size3) * var(--scale, 1.1));
        --size5: calc(var(--size4) * var(--scale, 1.1));
        --size6: calc(var(--size5) * var(--scale, 1.1));

        --line-height: 1.3;
        --text-font: "Verdana";
        --headings-font: "Georgia";
        --code-font: "Monospace";

        --gap: 1em;

        --margin: 1em;
        --margin-block: var(--margin);
        --margin-inline: var(--margin);

        --padding: 1em;
        --padding-block: var(--padding);
        --padding-inline: var(--padding);

        --border-radius: 10px;
        --border-width: 2px;
        --border-style: solid;
    }

    body {
        min-height: 100vh;
        margin: 0;

        display: flex;
        flex-direction: column;

        font-size: var(--size0);
        font-family: var(--text-font);
        line-height: var(--line-height);
    }

    main {
        flex-grow: 1;
        display: flex;
        align-items: stretch;

        header {
            padding-inline: var(--padding-inline);
        }
    }

    nav, main, footer {
        padding-block: var(--padding-block, 1em);
    }

    h1, h2, h3, h4, h5, h6 {
        font-family: var(--headings-font);
    }

    h1 { font-size: var(--size6); }
    h2 { font-size: var(--size5); }
    h3 { font-size: var(--size4); }
    h4 { font-size: var(--size3); }
    h5 { font-size: var(--size2); }
    h6 { font-size: var(--size1); }

    input,
    button {
        font-family: var(--text-font);
        font-size: var(--size1);
    }

    code {
        font-family: var(--code-font);
        font-weight: bold;
    }

    blockquote {
        padding: var(--padding);
        margin-block: var(--margin);
    }
}}
