@use "sass:math";

@mixin hsl() {
    @for $hue from 0 to 360 {
        .hue--#{$hue} { --hue: #{$hue}; }
    }

    @for $sat from 0 through 100 {
        .sat--#{$sat} { --sat: #{percentage($number: math.div($sat, 100))}; }
        .sat--fg--#{$sat} { --sat--fg: #{percentage($number: math.div($sat, 100))}; }
    }

    @for $lig from 0 through 100 {
        .lig--#{$lig} { --lig: #{percentage($number: math.div($lig, 100))}; }
        .lig--fg--#{$lig} { --lig--fg: #{percentage($number: math.div($lig, 100))}; }
    }

    .hsl {
        background-color: hsl(var(--hue), var(--sat, 50%), var(--lig, 50%));

        &--fg {
            color: hsl(var(--hue), var(--sat--fg, 50%), var(--lig--fg, 50%));
        }
    }
}
