@use "hsl" as *;

@mixin themes() { @layer themes {
    body {
        --primary: hsl(var(--primary-hue-preview, var(--primary-hue)) var(--primary-sat-preview, var(--primary-sat)) var(--primary-lig-preview, var(--primary-lig)));
        --primary-alt: hsl(var(--primary-alt-hue-preview, var(--primary-alt-hue)) var(--primary-alt-sat-preview, var(--primary-alt-sat)) var(--primary-alt-lig-preview, var(--primary-alt-lig)));
        --secondary: hsl(var(--secondary-hue-preview, var(--secondary-hue)) var(--secondary-sat-preview, var(--secondary-sat)) var(--secondary-lig-preview, var(--secondary-lig)));
        --secondary-alt: hsl(var(--secondary-alt-hue-preview, var(--secondary-alt-hue)) var(--secondary-alt-sat-preview, var(--secondary-alt-sat)) var(--secondary-alt-lig-preview, var(--secondary-alt-lig)));
        --tertiary: hsl(var(--tertiary-hue-preview, var(--tertiary-hue)) var(--tertiary-sat-preview, var(--tertiary-sat)) var(--tertiary-lig-preview, var(--tertiary-lig)));
        --tertiary-alt: hsl(var(--tertiary-alt-hue-preview, var(--tertiary-alt-hue)) var(--tertiary-alt-sat-preview, var(--tertiary-alt-sat)) var(--tertiary-alt-lig-preview, var(--tertiary-alt-lig)));
    }

    body {
        background-color: var(--primary);
        color: var(--secondary);
        a, code { color: var(--tertiary); }
        blockquote { border-left: 2px solid var(--secondary); }
    }

    header, nav, footer {
        background-color: var(--primary-alt);
        color: var(--secondary-alt);
        a, code { color: var(--tertiary-alt); }
        blockquote { border-left: 2px solid var(--secondary-alt); }
    }

    .color {
        &--white {
            color: white;
        }

        &--black {
            color: black;
        }
    }

    @include hsl();
}}
